* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #F5F8FF;
}

.header-section {
    width: 100%;
    height: 500px;
    padding: 30px 60px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-color: red; */
}

.nav-container {
    /* padding: 20px 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container .logo {
    font-size: 3em;
    color: #4D47FF;
}

/* Buttons */
.primary-btn,
.secondary-btn {
    padding: 12px 24px;
    background-color: #4D47FF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.primary-btn:hover,
.secondary-btn:hover {
    background-color: #3a36d1;
}

.hero-setion {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px; */

}

.hero-setion h1 {
    text-align: center;
    font-size: 48px;
}

.hero-setion .secondary-btn {
    display: block;
    margin: 0 auto;
}

.secandor-btn {
    display: block;
    margin: 20px auto;
    /* Top-bottom: 20px, Left-right: auto for centering */
    padding: 12px 24px;
    background-color: #4D47FF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

/* main style */

main {
    padding: 30px 60px;
}

section {
    margin: 40px 0;

}

/* action style */

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-action h3 {
    font-size: 2em;
    color: #252432;
}
.left-action p{
    padding: 10px 0;
    font-size: 1em;
    color: #252432c9;
}
.left-action .btn{
    margin-top: 10px;
}
.right-action img{
    width: 100%;
    border-radius: 20px;
}

/* Productive style */
.Productive {
    background-color: #e1e6ebb2;
    padding: 25px 45px;
    border-radius: 15px;
}

.Productive h2 {
    text-align: center;
    font-size: 1.8em;
    color: #252432;
}

.Productive .flex {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flex h4{
    color: #3A36D1;
    font-size: 3em;
}
.flex p{
    font-size: 1em;
    color: #252432;
}

/*  testmoniale STYLE*/

.testmoniale {
    margin-top: 100px;
}

.testmoniale h2 {
    margin-top: 20px 0px;
    text-align: center;
    font-size: 2.5em;
    color: #3d3b3b;
}

.testmoniale .card-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card-container .card-item {
    border-radius: 12px;
    background-color: #fff;
    padding: 30px;
}
.card-item h4{
    font-size: 1.2em;
    margin: 10px 0;
    color: #383737;
}
.card-item p{
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #666161;
}

.card-item .feed-img {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 15px;
}
.feed-img img{
    border-radius: 50%;
    object-fit: cover;
}
.feed-img .text{
    margin-top: 15px;
}
.feed-img .text h5{
    color: #494545;
}

/* template section  */
.template{
    background-color: #fff;
    margin-top: 50px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.template h2{
    font-size: 2em;
    color: #252432;
}
.template p{
    font-size: 1em;
    color: #383737;
}
.template img{
    border-radius: 50px;
}

.form-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-from h2 {}

.right-from {}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #000;
}