* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #F5F8FF;
}

.header-section {
    width: 100%;
    height: 500px;
    padding: 30px 60px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-color: red; */
}

.nav-container {
    /* padding: 20px 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container .logo {
    font-size: 3em;
    color: #4D47FF;
}

/* Buttons */
.primary-btn,
.secondary-btn {
    padding: 12px 24px;
    background-color: #4D47FF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.primary-btn:hover,
.secondary-btn:hover {
    background-color: #3a36d1;
}

.hero-setion {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px; */

}

.hero-setion h1 {
    text-align: center;
    font-size: 48px;
}

.hero-setion .secondary-btn {
    display: block;
    margin: 0 auto;
}

.secandor-btn {
    display: block;
    margin: 20px auto;
    /* Top-bottom: 20px, Left-right: auto for centering */
    padding: 12px 24px;
    background-color: #4D47FF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

/* main style */

main {
    padding: 30px 60px;
}

section {
    margin: 20px 0;

}

/* action style */

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-action h3 {
    font-size: 2em;
    color: #252432;
}
.left-action p{
    padding: 10px 0;
    font-size: 1em;
    color: #252432c9;
}
.left-action .btn{
    margin-top: 10px;
}
.right-action img{
    width: 100%;
    border-radius: 20px;
}

/*  */
.Productive {
    background-color: #4d47ff7c;
    padding: 25px 45px;
    border-radius: 15px;
}

.Productive h2 {
    text-align: center;
}

.Productive .flex {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*  testmoniale STYLE*/
.testmoniale {}

.testmoniale h2 {
    text-align: center;
}

.testmoniale .card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card-container .card-item {
    border: 1px solid black;
}

.card-item .feed-img {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
}

.form-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-from h2 {}

.right-from {}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #000;
}